
@font-face {
    font-family: "Epilogue-Bold";
    src: url("../fonts/Epilogue-Bold.woff") format("woff"),
    url("../fonts/Epilogue-Bold.woff2") format("woff2"),
    url("../fonts/Epilogue-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Epilogue-SemiBold";
    src: url("../fonts/Epilogue-SemiBold.woff") format("woff"),
    url("../fonts/Epilogue-SemiBold.woff2") format("woff2"),
    url("../fonts/Epilogue-SemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal
}

@font-face {
    font-family: "Roboto-Regular";
    src: url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal
}