html,
body {
    position: relative;    
    font-size: 10px;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;           
}
ul {
    margin: 0;
    padding-left: 0;	
}
ul li {
    list-style: none;
}
input,
textarea,
button:focus {
    outline: none;
    border: none;
}

button:active{
    outline: none;
}
textarea{
    resize: none;
}
button {
    border: none;
    background: none;
}
p{
    margin-top: 0;
}
a, a:hover {
    text-decoration: none;
}
::placeholder {
  color: #777;
  opacity: 1;
}
:focus::placeholder {
    color: transparent;
}