@import 'base/reset';
@import 'base/fonts';
@import 'base/variables';

.container{
    position: relative;
    max-width: 1440px;
    margin: 0 auto;
    background: url(../img/bg-lightl-890.jpg) repeat;    
}


@import 'parts/header';
@import 'parts/slider';
@import 'parts/articles';
@import 'parts/card';
@import 'parts/posts';
@import 'parts/profile';

@import 'parts/social';
@import 'parts/button';
@import 'base/media';

