.posts{
    padding: 4rem;
    &__content{
        display: flex;
        justify-content: start;
        align-content: flex-start;
        flex-flow: row wrap;        
    }
    &__title{
        margin-bottom: 3rem;
        text-align: center;
        font-size: 3.5rem;
        font-family: $semi-bold;
        line-height: 63px;
        letter-spacing: -0.045em;
        color: #41413C;
    }
}