html,
body {
  position: relative;
  font-size: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

ul li {
  list-style: none;
}

input,
textarea,
button:focus {
  outline: none;
  border: none;
}

button:active {
  outline: none;
}

textarea {
  resize: none;
}

button {
  border: none;
  background: none;
}

p {
  margin-top: 0;
}

a, a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}

::-moz-placeholder {
  color: #777;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

::placeholder {
  color: #777;
  opacity: 1;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

:focus::-ms-input-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

@font-face {
  font-family: "Epilogue-Bold";
  src: url("../fonts/Epilogue-Bold.woff") format("woff"), url("../fonts/Epilogue-Bold.woff2") format("woff2"), url("../fonts/Epilogue-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Epilogue-SemiBold";
  src: url("../fonts/Epilogue-SemiBold.woff") format("woff"), url("../fonts/Epilogue-SemiBold.woff2") format("woff2"), url("../fonts/Epilogue-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?952pbv");
  src: url("../fonts/icomoon.eot?952pbv#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?952pbv") format("truetype"), url("../fonts/icomoon.woff?952pbv") format("woff"), url("../fonts/icomoon.svg?952pbv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-viber:before {
  content: "\e900";
}

.icon-telegram:before {
  content: "\e901";
}

.icon-social-skype-outline:before {
  content: "\e902";
}

.icon-navigate_next:before {
  content: "\e903";
}

.icon-navigate_before:before {
  content: "\e904";
}

.icon-search:before {
  content: "\e905";
}

.icon-whatsapp:before {
  content: "\ea93";
}

.container {
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
  background: url(../img/bg-lightl-890.jpg) repeat;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-width: 1440px;
  z-index: 9;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 4rem;
}
.header__logo {
  -ms-flex-preferred-size: 63%;
  flex-basis: 63%;
  font-family: "Epilogue-Bold";
  font-size: 2rem;
  line-height: 2.5rem;
  color: #2F542B;
}
.header__search {
  width: 3rem;
  height: 3rem;
  margin-right: 8rem;
}
.header__search-icon {
  font-size: 2.3rem;
}
.header__menu-button {
  position: relative;
  padding: 0;
  width: 3rem;
  height: 3rem;
}
.header__menu-button::before {
  content: "";
  position: absolute;
  top: 0.5rem;
  right: 0;
  width: 2.5rem;
  height: 0.2rem;
  background-color: #000;
  -webkit-box-shadow: 1px 2px 4px #504d4d;
  box-shadow: 1px 2px 4px #504d4d;
}
.header__menu-button::after {
  content: "";
  position: absolute;
  top: 1.5rem;
  right: 0;
  width: 2rem;
  height: 0.2rem;
  background-color: #000;
  -webkit-box-shadow: 1px 2px 4px #504d4d;
  box-shadow: 1px 2px 4px #504d4d;
}

.mobile-menu {
  display: none;
}

.slider {
  position: relative;
  overflow: hidden;
}
.slider__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: absolute;
  top: 50%;
  right: 28%;
  z-index: 9;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.slider__prev {
  padding: 0.6rem 0.7rem;
  border-radius: 50%;
  background-color: #DDC8BA;
  -webkit-box-shadow: 0 0 8px #212121;
  box-shadow: 0 0 8px #212121;
}
.slider__next {
  margin-bottom: 0.5rem;
  padding: 0.6rem 0.7rem;
  border-radius: 50%;
  background-color: #DDC8BA;
  -webkit-box-shadow: 0 0 8px #212121;
  box-shadow: 0 0 8px #212121;
}
.slider__next:active {
  -webkit-box-shadow: 0 0 8px #07a9e4;
  box-shadow: 0 0 8px #07a9e4;
  background-color: #DDC8BA;
}
.slider__prev:active {
  -webkit-box-shadow: 0 0 8px #07a9e4;
  box-shadow: 0 0 8px #07a9e4;
  background-color: #DDC8BA;
}
.slider__icon {
  font-size: 3rem;
}
.slider__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-transition: 1s all;
  transition: 1s all;
}
.slider__item {
  display: none;
  position: relative;
  width: 100%;
  padding-left: 4rem;
}
.slider__photo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  width: 100%;
  height: 100%;
}
.slider__img {
  width: 100%;
  margin-bottom: 5rem;
}
.slider__info {
  position: absolute;
  top: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.slider__avatar {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
  border-radius: 50%;
}
.slider__avatar img {
  display: block;
  width: 100%;
  margin: 0 !important;
  border-radius: 50%;
}
.slider__title {
  font-size: 1.8rem;
  font-family: "Roboto-Regular", sans-serif;
}
.slider__subtitle {
  font-size: 1.2rem;
  font-family: "Roboto-Regular", sans-serif;
  color: #686868;
}
.slider__note {
  display: none;
}
.slider__text {
  display: none;
}
.slider__item--active {
  display: block;
}
.slider__item--active .slider__img {
  width: 60%;
  -webkit-transform: translateX(67%);
  transform: translateX(67%);
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
  margin-bottom: 0;
}
.slider__item--active .slider__info {
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 60%;
  -webkit-transition: 1.5s all;
  transition: 1.5s all;
}
.slider__item--active .slider__avatar {
  display: none;
}
.slider__item--active .slider__description {
  margin-left: 7rem;
}
.slider__item--active .slider__title {
  margin-bottom: 2rem;
  font-family: "Epilogue-Bold", sans-serif;
  font-size: 8rem;
  color: #41413C;
  -webkit-animation: 1s text-stretch;
  animation: 1s text-stretch;
  text-shadow: 0 2px 2px #8a8989;
}
.slider__item--active .slider__subtitle {
  margin-bottom: 8rem;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 2.4rem;
  color: #979292;
  -webkit-animation: 3s text-show;
  animation: 3s text-show;
}
.slider__item--active .slider__note {
  display: block;
  margin-bottom: 1.6rem;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.4rem;
  color: #686868;
  -webkit-animation: 3s text-show;
  animation: 3s text-show;
}
.slider__item--active .slider__text {
  display: block;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.8rem;
  color: #212121;
  -webkit-animation: 3s text-show;
  animation: 3s text-show;
}
.slider__item--pasive {
  display: block;
  width: 40%;
}
.slider__item--pasive .social {
  display: none;
}

@-webkit-keyframes text-stretch {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 8rem;
  }
}

@keyframes text-stretch {
  from {
    font-size: 1rem;
  }
  to {
    font-size: 8rem;
  }
}
@-webkit-keyframes text-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes text-show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.articles {
  padding: 4rem;
}
.articles__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.articles__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.articles__title {
  -ms-flex-preferred-size: 50%;
  flex-basis: 50%;
  font-family: "Epilogue-SemiBold", sans-serif;
  font-size: 5rem;
  letter-spacing: -0.025em;
  color: #41413C;
  text-transform: uppercase;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-preferred-size: 270px;
  flex-basis: 270px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 1rem 1rem 0;
  -webkit-box-shadow: 0 2px 10px #7E7E7E;
  box-shadow: 0 2px 10px #7E7E7E;
}
.card__img {
  display: block;
  width: 100%;
}
.card__info {
  padding: 2rem;
  text-align: center;
}
.card__note {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-family: "Roboto-Regular", sans-serif;
  color: #7E7E7E;
  text-transform: uppercase;
}
.card__title {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Epilogue-SemiBold", sans-serif;
  letter-spacing: 0.015em;
  text-transform: uppercase;
}
.card__button {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-family: "Epilogue-SemiBold", sans-serif;
}
.card__text {
  font-size: 1rem;
  font-family: "Roboto-Regular", sans-serif;
  color: #7E7E7E;
}
.card--post {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.card--post .card__note {
  display: none;
}
.card--post .card__text {
  display: none;
}
.card--post .card__title {
  margin: 2rem 0 3rem 0;
  font-size: 1.8rem;
  font-family: "Roboto-Regular", sans-serif;
  text-transform: none;
}
.card--post .card__button {
  font-size: 1.5rem;
  font-family: "Epilogue-SemiBold", sans-serif;
  letter-spacing: 0.75px;
  padding: 1.5rem 5rem;
  color: aliceblue;
  background-color: #DDC8BA;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}

.posts {
  padding: 4rem;
}
.posts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
  -ms-flex-line-pack: start;
  align-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
}
.posts__title {
  margin-bottom: 3rem;
  text-align: center;
  font-size: 3.5rem;
  font-family: "Epilogue-SemiBold", sans-serif;
  line-height: 63px;
  letter-spacing: -0.045em;
  color: #41413C;
}

.profile {
  position: relative;
  padding: 4rem;
}
.profile__content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}
.profile__img {
  display: block;
  width: 100%;
  -webkit-box-shadow: 0 0 20px #000;
  box-shadow: 0 0 20px #000;
}
.profile__info {
  position: absolute;
  left: 13rem;
  top: 50%;
  max-width: 40%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 5rem 8rem;
  text-align: center;
  background: rgba(255, 255, 255, 0.4);
  border-radius: 5px;
}
.profile__title {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  font-family: "Epilogue-SemiBold", sans-serif;
  line-height: 2.8rem;
  letter-spacing: 0.035em;
}
.profile__subtitle {
  margin-bottom: 4rem;
  font-size: 1.8rem;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 2.4rem;
  letter-spacing: 0.015em;
  color: #686868;
  text-transform: uppercase;
}
.profile__text {
  margin-bottom: 2.5rem;
  font-size: 1.8rem;
  font-family: "Roboto-Regular", sans-serif;
  line-height: 2.4rem;
  letter-spacing: 0.015em;
  color: #3d3d3d;
}
.profile__button {
  margin-bottom: 4rem;
  font-size: 1.5rem;
  font-family: "Epilogue-SemiBold", sans-serif;
  letter-spacing: 0.75px;
  padding: 1.5rem 3rem;
  color: aliceblue;
  background-color: #DDC8BA;
  text-transform: uppercase;
  border-radius: 10px;
  cursor: pointer;
}
.profile__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.profile__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 2rem;
  padding: 0.7rem;
  border-radius: 50%;
  cursor: pointer;
}
.profile__link:last-child {
  margin-right: 0;
}
.profile__link-skype span {
  -webkit-animation: 2s linear 1s skype-icon_glow;
  animation: 2s linear 1s skype-icon_glow;
}
.profile__link-viber span {
  -webkit-animation: 2s linear 3s viber-icon_glow;
  animation: 2s linear 3s viber-icon_glow;
}
.profile__link-whatsapp span {
  -webkit-animation: 2s linear 5s whatsapp-icon_glow;
  animation: 2s linear 5s whatsapp-icon_glow;
}
.profile__link-telegram span {
  -webkit-animation: 2s linear 7s telegram-icon_glow;
  animation: 2s linear 7s telegram-icon_glow;
}
.profile__icon {
  font-size: 2rem;
  color: #000;
}
.profile .icon-social-skype-outline {
  font-size: 2.4rem;
}

.social {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.social::before {
  position: absolute;
  top: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 1px;
  height: 10rem;
  background-color: #000000;
}
.social::after {
  position: absolute;
  bottom: -60%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  content: "";
  width: 1px;
  height: 10rem;
  background-color: #000000;
}
.social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 1.5rem;
  padding: 0.8rem;
  border: 2px solid #000000;
  border-radius: 50%;
}
.social__link:last-child {
  margin-bottom: 0;
}
.social__link-skype {
  -webkit-animation: 2s linear 1s skype_glow;
  animation: 2s linear 1s skype_glow;
}
.social__link-skype span {
  -webkit-animation: 2s linear 1s skype-icon_glow;
  animation: 2s linear 1s skype-icon_glow;
}
.social__link-viber {
  -webkit-animation: 2s linear 3s viber_glow;
  animation: 2s linear 3s viber_glow;
}
.social__link-viber span {
  -webkit-animation: 2s linear 3s viber-icon_glow;
  animation: 2s linear 3s viber-icon_glow;
}
.social__link-whatsapp {
  -webkit-animation: 2s linear 5s whatsapp_glow;
  animation: 2s linear 5s whatsapp_glow;
}
.social__link-whatsapp span {
  -webkit-animation: 2s linear 5s whatsapp-icon_glow;
  animation: 2s linear 5s whatsapp-icon_glow;
}
.social__link-telegram {
  -webkit-animation: 2s linear 7s telegram_glow;
  animation: 2s linear 7s telegram_glow;
}
.social__link-telegram span {
  -webkit-animation: 2s linear 7s telegram-icon_glow;
  animation: 2s linear 7s telegram-icon_glow;
}
.social__icon {
  font-size: 1.6rem;
  color: #000000;
}
.social .icon-social-skype-outline {
  font-size: 1.8rem;
}
.social .icon-telegram {
  font-size: 1.3rem;
  margin-right: 2px;
}
.social .icon-viber {
  margin-top: 2px;
}

.social--none {
  display: none;
}

@-webkit-keyframes skype_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #00aff0;
    -webkit-box-shadow: 0 0 25px #00aff0;
    box-shadow: 0 0 25px #00aff0;
  }
  100% {
    border-color: #000000;
  }
}

@keyframes skype_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #00aff0;
    -webkit-box-shadow: 0 0 25px #00aff0;
    box-shadow: 0 0 25px #00aff0;
  }
  100% {
    border-color: #000000;
  }
}
@-webkit-keyframes skype-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #00aff0;
  }
  100% {
    color: #000000;
  }
}
@keyframes skype-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #00aff0;
  }
  100% {
    color: #000000;
  }
}
@-webkit-keyframes viber_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #7360f2;
    -webkit-box-shadow: 0 0 25px #7360f2;
    box-shadow: 0 0 25px #7360f2;
  }
  100% {
    border-color: #000000;
  }
}
@keyframes viber_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #7360f2;
    -webkit-box-shadow: 0 0 25px #7360f2;
    box-shadow: 0 0 25px #7360f2;
  }
  100% {
    border-color: #000000;
  }
}
@-webkit-keyframes viber-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #7360f2;
  }
  100% {
    color: #000000;
  }
}
@keyframes viber-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #7360f2;
  }
  100% {
    color: #000000;
  }
}
@-webkit-keyframes whatsapp_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #25D366;
    -webkit-box-shadow: 0 0 25px #25D366;
    box-shadow: 0 0 25px #25D366;
  }
  100% {
    border-color: #000000;
  }
}
@keyframes whatsapp_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #25D366;
    -webkit-box-shadow: 0 0 25px #25D366;
    box-shadow: 0 0 25px #25D366;
  }
  100% {
    border-color: #000000;
  }
}
@-webkit-keyframes whatsapp-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #25D366;
  }
  100% {
    color: #000000;
  }
}
@keyframes whatsapp-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #25D366;
  }
  100% {
    color: #000000;
  }
}
@-webkit-keyframes telegram_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #2AABEE;
    -webkit-box-shadow: 0 0 25px #2AABEE;
    box-shadow: 0 0 25px #2AABEE;
  }
  100% {
    border-color: #000000;
  }
}
@keyframes telegram_glow {
  0% {
    border-color: #000000;
  }
  50% {
    border-color: #2AABEE;
    -webkit-box-shadow: 0 0 25px #2AABEE;
    box-shadow: 0 0 25px #2AABEE;
  }
  100% {
    border-color: #000000;
  }
}
@-webkit-keyframes telegram-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #2AABEE;
  }
  100% {
    color: #000000;
  }
}
@keyframes telegram-icon_glow {
  0% {
    color: #000000;
  }
  50% {
    color: #2AABEE;
  }
  100% {
    color: #000000;
  }
}
.button {
  --width: 17rem;
  --height: 6rem;
  --color: #d6a98b;
  position: relative;
  display: inline-block;
  width: var(--width);
  height: var(--height);
  line-height: var(--height);
  font-size: 1.5rem;
  font-family: "Roboto-Regular", sans-serif;
  text-transform: uppercase;
  color: var(--color);
  text-align: center;
  -webkit-transition: 2s;
  transition: 2s;
  background-color: transparent;
  border-color: transparent;
}
.button:hover {
  cursor: pointer;
}
.button__svg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
}
.button__rect {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
  stroke: var(--color);
  stroke-width: 5;
  stroke-dasharray: var(--height) var(--width);
  stroke-dashoffset: calc(2 * var(--height) + 2 * var(--width) + var(--height) / 2);
  -webkit-animation: 3s linear 0s infinite move_rect;
  animation: 3s linear 0s infinite move_rect;
}

@-webkit-keyframes move_rect {
  0% {
    stroke: var(--color);
    stroke-dashoffset: calc(2 * var(--height) + 2 * var(--width) + var(--height) / 2);
  }
  100% {
    stroke: var(--color);
    stroke-dashoffset: calc(var(--height) - var(--height) / 2);
  }
}

@keyframes move_rect {
  0% {
    stroke: var(--color);
    stroke-dashoffset: calc(2 * var(--height) + 2 * var(--width) + var(--height) / 2);
  }
  100% {
    stroke: var(--color);
    stroke-dashoffset: calc(var(--height) - var(--height) / 2);
  }
}
@media (max-width: 1440px) {
  .articles {
    padding: calc(10px + 30 * (100vw - 320px) / 1120);
  }

  .articles__title {
    font-size: calc(14px + 36 * (100vw - 320px) / 1120);
  }

  .posts {
    padding: calc(10px + 30 * (100vw - 320px) / 1120);
  }

  .posts__title {
    font-size: calc(14px + 21 * (100vw - 320px) / 1120);
    margin-bottom: calc(10px + 20 * (100vw - 320px) / 1120);
  }

  .button {
    --width: calc(110px + (170 - 110) * ((100vw - 320px) / (1440 - 320)));
    --height: calc(25px + (60 - 25) * ((100vw - 320px) / (1440 - 320)));
    font-size: calc(12px + 3 * (100vw - 320px) / 1120);
  }

  .card--post .card__button {
    font-size: calc(10px + 5 * (100vw - 320px) / 1120);
    padding: calc(10px + 5 * (100vw - 320px) / 1120) calc(20px + 30 * (100vw - 320px) / 1120);
  }

  .card--post .card__title {
    margin: calc(10px + 10 * (100vw - 320px) / 1120) 0 calc(10px + 20 * (100vw - 320px) / 1120) 0;
    font-size: calc(10px + 8 * (100vw - 320px) / 1120);
  }

  .profile {
    padding: calc(10px + 30 * (100vw - 320px) / 1120);
  }

  .profile__info {
    padding: calc(10px + 40 * (100vw - 320px) / 1120) calc(10px + 70 * (100vw - 320px) / 1120);
    left: calc(20px + 110 * (100vw - 320px) / 1120);
  }

  .profile__text {
    font-size: calc(14px + 4 * (100vw - 320px) / 1120);
  }

  .profile__button {
    font-size: calc(10px + 5 * (100vw - 320px) / 1120);
    padding: calc(10px + 5 * (100vw - 320px) / 1120) calc(20px + 30 * (100vw - 320px) / 1120);
  }
}
@media screen and (max-width: 1220px) {
  .card {
    max-width: 32%;
  }
}
@media screen and (max-width: 846px) {
  .card {
    max-width: 50%;
  }
}
@media screen and (max-width: 657px) {
  .card {
    -ms-flex-preferred-size: 47%;
    flex-basis: 47%;
  }

  .profile__info {
    max-width: 70%;
  }
}
@media screen and (max-width: 375px) {
  .card {
    -ms-flex-preferred-size: 45%;
    flex-basis: 45%;
  }

  .card__title {
    font-size: 10px;
  }

  .profile__info {
    max-width: 80%;
  }

  .profile__title {
    font-size: 1.8rem;
  }

  .profile__subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .profile__button {
    margin-bottom: 1.5rem;
  }
}