html,
body {
  font-size: 10px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

ul li {
  list-style: none;
}

input,
textarea,
button:focus {
  outline: none;
  border: none;
}

button:active {
  outline: none;
}

textarea {
  resize: none;
}

button {
  border: none;
  background: none;
}

p {
  margin-top: 0;
}

a, a:hover {
  text-decoration: none;
}

::-webkit-input-placeholder {
  color: #777;
  opacity: 1;
}

::-moz-placeholder {
  color: #777;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

::-ms-input-placeholder {
  color: #777;
  opacity: 1;
}

::placeholder {
  color: #777;
  opacity: 1;
}

:focus::-webkit-input-placeholder {
  color: transparent;
}

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

:focus::-ms-input-placeholder {
  color: transparent;
}

:focus::placeholder {
  color: transparent;
}

@font-face {
  font-family: "Epilogue-Medium";
  src: url("../fonts/Epilogue-Medium.woff") format("woff"), url("../fonts/Epilogue-Medium.woff2") format("woff2"), url("../fonts/Epilogue-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Epilogue-Bold";
  src: url("../fonts/Epilogue-Bold.woff") format("woff"), url("../fonts/Epilogue-Bold.woff2") format("woff2"), url("../fonts/Epilogue-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Epilogue-SemiBold";
  src: url("../fonts/Epilogue-SemiBold.woff") format("woff"), url("../fonts/Epilogue-SemiBold.woff2") format("woff2"), url("../fonts/Epilogue-SemiBold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "Roboto-Regular";
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
h1 {
  font-family: "Roboto-Regular";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  background-color: #d0cdb3;
}